.navbar-nav {
    display: flex;
    justify-content: center;  
    align-items: center;      
    width: 100%;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 2.8rem;         
}

.nav-item ::deep a {
    color: #d7d7d7;
    border-radius: 8px;      
    height: 2.0rem;           
    display: flex;
    align-items: center;      
    justify-content: center;  
    line-height: 1.25rem;     
    padding-left: 10px;
    padding-right: 10px;      
}


.nav-item ::deep a.active {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

/* CSS for stor skærm */
@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }

    .nav-scrollable {
        height: auto;
        overflow-x: auto;
        overflow-y: hidden;
    }

    nav.nav.flex-row {
        display: flex;
        flex-direction: row;
    }


    .navbar-nav {
        justify-content: center;
    }
}
