@page "/AllStudentsPage"
@using Core
@using EksamensProjekt.Service
@inject ILogin LoginService
@inject NavigationManager nav
@inject IUser mService

<table class="table">

    <tbody>
    <tr>
        <td><strong>Navn</strong></td>
        <td><strong>Rolle</strong></td>
        <td><strong>Årgang</strong></td>
    </tr>
    @foreach (var student in students)
    {
        <tr>
            <td>@student.Name</td>
            <td>@student.Role</td>
            <td>@student.DateOfStart.Year</td>
            @if (currentUser?.Role == "Admin")
            {
                <td><button class="btn-primary" @onclick="() => DeleteById(student)">Fjern bruger</button></td>
            }
            @if (student.Role == "Elev")
            {
                <button class="btn btn-secondary me-2" @onclick="@(() => nav.NavigateTo($"/StudentplanPage/{student.UserId}"))">
                    Se elevplan
                </button>
            }
        </tr>
    }
    </tbody>
</table>

@code {
    private User? currentUser;

    private Student[]? students = new Student[0];
    
    protected override async Task OnInitializedAsync()
    {
        currentUser = await LoginService.GetUserLoggedIn();

        if (currentUser == null ||
            (currentUser.Role != "Admin" && currentUser.Role != "Køkkenchef"))
        {
            nav.NavigateTo("/");
            return;
        }

        await LoadAll();
    }
    
    private async Task DeleteById(User user)
    {
        await mService.DeleteById(user.UserId);
        await LoadAll();

    }

    private void AddUser()
    {
        nav.NavigateTo("CreateUserPage");  
    }
    
    private async Task LoadAll()
    {
        // Henter alle brugere
        var allUsers = await mService.GetAll();

        // Her filtrer vi og tager kun alle students
        students = allUsers.OfType<Student>()
            .Where(e => e.Role == "Elev")
            .ToArray();
    }

}