@page "/AllStudentsPage"
@using Core
@using EksamensProjekt.Service
@inject ILogin LoginService
@inject NavigationManager nav
@inject IUser mService

<table class="table">

    <tbody>
    <tr>
        <td><strong>Navn</strong></td>
        <td><strong>Rolle</strong></td>
    </tr>
    @foreach (var user in users)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Role</td>
            @if (currentUser?.Role == "Admin")
            {
                <td><button class="btn-primary" @onclick="() => DeleteById(user)">Fjern bruger</button></td>
            }
            @if (user.Role == "Elev")
            {
                <button class="btn btn-secondary me-2" @onclick="@(() => nav.NavigateTo($"/StudentplanPage/{user.UserId}"))">
                    Se elevplan
                </button>
            }
        </tr>
    }
    </tbody>
</table>

@code {
    private User? currentUser;

    private User[]? users = new User[0];
    
    protected override async Task OnInitializedAsync()
    {
        currentUser = await LoginService.GetUserLoggedIn();

        if (currentUser == null ||
            (currentUser.Role != "Admin" && currentUser.Role != "Køkkenchef"))
        {
            nav.NavigateTo("/");
            return;
        }

        await LoadAll();
    }
    
    private async Task DeleteById(User user)
    {
        await mService.DeleteById(user.UserId);
        await LoadAll();

    }

    private void AddUser()
    {
        nav.NavigateTo("CreateUserPage");  
    }
    
    private async Task LoadAll()
    {
         users = await mService.GetAll();
         users = users.Where(e => e.Role == "Elev").ToArray();
    }
}